<% 
=begin %>
<p id="notice"><%= notice %></p>
<h1>Cars</h1>
<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.make %></td>
        <td><%= car.model %></td>
        <td><%= car.year %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Car', new_car_path %>
<% 
=end %>
<div class="content">
  <span class="ctr-p">
    <center>
      <div>
        <style data-iml="1594139079090">
          #lga{height:233px;margin-top:89px}@media only screen and (max-height:768px){#lga{margin-top:47px}}
        </style>
        <img alt="Google" height="92" id="hplogo" src="https://res.cloudinary.com/demo/image/fetch/fl_png8/https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"  style="padding-top:109px" width="272" data-atf="1">
        <div class="RNNXgb">
          <div class="SDkeEP">
          <input class="gLFyf gsfi"type="text" />
          </div>
        </div>
        <div class="FPdoLc tfB0Bf">
          <center>
            <input class="gNO89b" value="Google Search" aria-label="Google Search" name="btnK" type="submit" data-ved="0ahUKEwjNrZXsxrvqAhWmoHIEHQEvAeUQ4dUDCAs">
            <input class="gNO89b" value="&nbsp;I'm Feeling Lucky&nbsp;" aria-label="&nbsp;I'm Feeling Lucky&nbsp;" name="btnI" type="submit" jsaction="sf.lck" data-ved="0ahUKEwjNrZXsxrvqAhWmoHIEHQEvAeUQ19QECAw">
          </center>
        </div>
      </div>
    </center>
  </span>
</div>
